/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

/* Remove default styles from the browser */
* {
    margin: 0;
    padding: 0;
}

/* Default style */
body {
    color: black;
    font-family: 'Dosis', sans-serif;
    background-color: rgb(241, 251, 253);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1.5rem;
}

/* Header */
#logo {
    font-size: 2rem;
}

#scissors-logo {
    height: 2rem;
    margin: 1rem 0 0 1rem;
}

header a {
    /* Remove underline */
    text-decoration: none;
    letter-spacing: 2px;
    color: black;
}

/* Main content */
main {
    /* Push footer down */
    flex: 1 0 auto;
}

.choices {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.choice {
    margin: 0rem 1rem;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

main h2 {
    text-align: center;
}

.player-cpu {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.player {
    background-color: cadetblue;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
}

.cpu {
    background-color: mediumpurple;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
}

#result {
    text-align: center;
}



.rules {
    text-align: center;
}

footer {
    text-align: center;
    background-color: darkgrey;
    padding-bottom: 0.4rem;
}

footer a {
    /* Remove underline */
    text-decoration: none;
    color: black;
}

/* When using smartphone in landscape mode */
@media screen and (min-width: 576px) {
    /* Header */
    #logo {
        font-size: 3rem;
    }

    #scissors-logo {
        height: 3rem;
        margin: 1rem 0 0 1rem;
    }

    .choice {
        margin: 0rem 1rem;
        padding: 0.5rem;
    }
}